# OpenAI Configuration
OPENAI_API_KEY='your-api-key-here'
OPENAI_ORGANIZATION='your-organization-id-here'
OPENAI_PROJECT='your-project-id-here'

# Server Configuration
HOST=localhost
WDS_SOCKET_HOST=localhost 